$primary: rgba(56, 219, 255, 1);
$primary-80: rgba(56, 219, 255, 0.8);
$primary-50: rgba(56, 219, 255, 0.5);
$primary-30: rgba(56, 219, 255, 0.3);
$primary-20: rgba(56, 219, 255, 0.2);
$primary-10: rgba(56, 219, 255, 0.1);

$primary-shade: rgb(10, 31, 36);
$primary-shade-70: rgb(10, 31, 36, 0.7);
$primary-shade-50: rgb(10, 31, 36, 0.5);
$primary-shade-30: rgb(10, 31, 36, 0.3);
$primary-shade-10: rgb(10, 31, 36, 0.3);

$default-shade: rgba(16, 23, 31, 1);
$default-shade-90: rgba(16, 23, 31, 0.9);
$default-shade-80: rgba(16, 23, 31, 0.8);
$default-shade-50: rgba(16, 23, 31, 0.5);
$default-shade-30: rgba(16, 23, 31, 0.3);

$secondary-shade: rgb(25, 38, 53);

$default-tint: #8898aa;
$grey-0: #333e4c;
$grey-0-80: rgba(51, 62, 76, .8);
$grey-1: #90949a;
$grey-2: #D8E0E7;
$grey-2-70: rgba(216, 224, 231, .7);
$grey-3: #f6f9fc;
$grey-4: #ebeff2;
$grey-5: #c1cad4;
$grey-6: #b3bcc4;
$grey-7: #999999;
$grey-8: #777777;
$grey-9: #fafafa;
$white: #fff;
$yellow: #FEE85A;
$shadow-color: rgba(0, 0, 0, .2);
$purple: #8565fc;
$light-purple: #997EFA;

$success: #08c168;
$fail: #d10d20;
$proceed: #00c7ce;
$score: #80c6ff;
$etc: $grey-8;

$width-1: 1900px;
$width-2: 2200px;
$width-3: 2600px;

/*
빨강 FF394C
주황 FF8243
노랑 FFD731
연두 93B504
초록 00BC82
하늘 29C3FF
파랑 1749FF
자주 C9005F 
보라 8659F1
핑크 FF45E9
*/